<div style="text-align: center; padding-top: 30vh">
  <h1>Poker hand checker</h1>
  <h2>Welcome! This app allows you to find the rank of your poker hand. Input 5 different card values, seperated by spaces, into the input box below.</h2>
  <h4>Acceptable face values: A, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, K </h4>
  <h4>Acceptable suit values: H, D, C, S</h4>
  <h4>Example submission: AD 2C 5C JS JH</h4>

  <form action="/answer">
    <input type="text" name="q">
    <input type="submit" value="Check">
  </form>
</div>
